html, body{
  font-family: "Quicksand sans-serif", serif !important; ;
}



.Nav-Container{
  list-style-type: none;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}


.Link-Nav-Item{
  text-decoration: none;
  color: white;
}

.Brand-Name{
  text-decoration: none;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 28px;
  color: black;
}

.Link-Item-List{
  display: inline-block;
  padding: 0 16px;
}

.section{
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.footer-section{
  padding-top: 16px;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #a5acaf;
}

.dark-background{
  background-color: #212121;
  color: rgba(255, 255, 255, 0.8);
}

.light-background{
  background-color: #eeeeee;
}

.container{

}

.contact-section{
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orange-background{
  background-color: orange;
}

.black-background{
  background-color: black;
}

.MuiSvgIcon-root{
  color: orange !important;
}

button.Mui-disabled{
  color: rgba(255, 255, 255, 0.45) !important;
}

.responsive-height{
  height: 100vh;
}

@media screen and (max-width: 700px){
  .responsive-height{
    height: 50vh;
  }
}

.responsive-image{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.image-container{
  display: flex;
  align-items: center;
}

.margin-vertical-small{
  margin-top: 8px;
  margin-bottom: 8px;
}

.center-align{
  text-align: center;
}

.font-weight-bold{
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}
