.Nav-Container{
  list-style-type: none;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}


.Link-Nav-Item{
  text-decoration: none;
}

.Brand-Name{
  text-decoration: none;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 28px;
  color: black;
}

.Link-Item-List{
  display: inline-block;
  padding: 0 16px;
}

.section{
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark-background{
  background-color: #212121;
  color: rgba(255, 255, 255, 0.8);
}

.light-background{
  background-color: #eeeeee;
}

.container{

}

.home{
  background-color: #212121;
}

.contact-section{
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
